@model IEnumerable<RssFeedReader.RssFeed>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeedID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedPublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeedRead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeedID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedPublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeedRead)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
